# --- ENVIRONNEMENT ---
venv/
.env
.env.*

# --- BASE DE DONNÉES ET DONNÉES ---
*.db
/data/
!/data/.gitkeep
/reports/
!/reports/.gitkeep
cache/
__pycache__/

# --- FICHIERS DE SYSTÈME ---
.DS_Store
Thumbs.db

# --- LOGS / BACKUPS ---
*.log
*.bak
*.tmp

# --- PYTHON ---
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/

# --- IDE / ÉDITEURS ---
.vscode/
.idea/

# --- AUTRES ---
*.sqlite
