# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3

# --- Virtual envs ---
env/
venv/
.scrap_env/
scrap_env/
.venv/
ENV/

# --- IDE / Editor ---
.vscode/
.idea/
*.iml

# --- OS files ---
.DS_Store
Thumbs.db

# --- Byte-compiled caches ---
__pycache__/
*.py[cod]

# --- Jupyter ---
.ipynb_checkpoints/

# --- Build / Dist ---
build/
dist/
*.egg-info/
